<!-- <departmet-category></departmet-category> -->
<mat-toolbar color="primary">
        <mat-icon>school</mat-icon>
</mat-toolbar>
<mat-toolbar color="primary" class="web-sidebar">
        <mat-toolbar-row>
         <button mat-button routerLink="/DepartmentCategory">Department Category</button>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
         <button mat-button routerLink="/Department">Department</button>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
         <button mat-button routerLink="/CourseCategory">Course Category</button>
        </mat-toolbar-row>

      <mat-toolbar-row>
            <button mat-button routerLink="/Course">Course</button>
           </mat-toolbar-row>
         </mat-toolbar>
         <div class="web-main">
<router-outlet></router-outlet>
</div>
